<h1 class="text-center text-secondary my-5">Building <%= @building.name %></h1>

<div class="text-center">
  <td><%=link_to 'show departments', building_apartments_path(@building.id), class: 'btn btn-danger'%></td>
</div>