<!--<h1 class="text-center text-secondary my-5">Apartments <%= "#{@apartment.number} of #{@building.name}"%> </h1> -->
<h1 class="text-center text-secondary my-5">Apartments <%= @apartment.number%> of <%= @building.name %> </h1>

<div class="text-center">
  <td><%=link_to 'back', building_apartments_path(@building.id), class: 'btn btn-danger'%></td>
</div>
